
<% if compiler_message == nil or compiler_message.chomp == '' %>
  No message
<% else %>
  <div><div><a href="#" onClick="n = this.parentNode.parentNode.lastChild;
if(n.style.display == 'none') { n.style.display = 'block'; }
else {n.style.display ='none'; } return false;">
    (click to see)</a>
    </div>
    <div style="display: none">
      <div class="compilermsgbody" style="border: thin solid grey; margin: 2px">
        <%=simple_format(compiler_message) %>
      </div>
  </div></div>
<% end %>
