<div id="problem-panel-<%= problem.id %>" class="problem-panel" style="display:none">
  <div id="problem-form-<%= problem.id %>" class="problem-form">
    <% form_tag({:action => 'new_input', :id => problem.id}, :method => :post) do -%>
      <input type="submit" value="New input"/>
    <% end -%>
    <% form_tag({ :action => 'download_input', :id => problem.id }, :method => :post) do -%>
      <input type="submit" value="Download input"/>
    <% end -%>
    <% form_tag({ :action => 'submit_solution', :id => problem.id }, :method => :post, :multipart => true) do -%>
      <input type="file" name="file">
      <input type="submit" value="Submit solution"/>
    <% end -%>
  </div>

  <div class="problem-description">
    <% if problem.description!=nil %>
      <% if problem.description.markdowned %>
<%= markdown(problem.description.body) %>
      <% else %>
<%= problem.description.body %>
      <% end %>
    <% else %>
      (not available)
    <% end %>
  </div>
</div>
