= form_tag({:action => 'submit'}, :multipart => true) do
  %b Problem:
  = select 'submission', 'problem_id', [[(t 'main.specified_in_header'),'-1']] + @problems.collect {|p| [p.full_name, p.id]}, {:selected => '-1'}, { class: 'select2' }
  %b File:
  = file_field_tag 'file'
  = submit_tag 'Submit'
