= user_title_bar(@user)

.announcementbox
  %span{:class => 'title'}
    =t 'main.confirm_contest_start.box_title'
  .announcement
    %center
      =t 'main.confirm_contest_start.contest_list'
      - @contests.each do |contest|
        = contest.title
      %br

      =t 'main.confirm_contest_start.timer_starts_after_click'

      - form_tag :action => 'confirm_contest_start', :method => 'post' do
        = submit_tag t('main.confirm_contest_start.start_button'), :confirm => t('main.confirm_contest_start.start_button_confirm')
