= user_title_bar(@user)

.announcementbox
  %span{:class => 'title'}
    How to submit
  .announcement
    %p
      You <b>must</b> specify the language you are using 
      in your program header.  You can optionally 
      specify the task you are submitting to.

    %p
      The possible language options are 
      <tt>C</tt>, <tt>C++</tt>, and <tt>Pascal</tt>.
      The follow are examples.

    %table{:border => '1'}
      %tr
        %th{:width => '100px'} C
        %th{:width => '100px'} C++
        %th{:width => '100px'} Pascal
      %tr
        %td= "<tt>/*<br/>LANG: C<br/>*/</tt>"
        %td= "<tt>/*<br/>LANG: C++<br/>*/</tt>"
        %td= "<tt>{<br/>LANG: Pascal<br/>}</tt>"

    %p
      The server <b>will not</b> accept your submission,
      if you do not specify the language.

    %p
      Optionally, you can also specify 
      the task with <tt>TASK:</tt> <i>taskname</i>.
      On the first page, the taskname for each task is 
      shown in parentheses.

    %p 
      For example, suppose you are using <tt>C++</tt> 
      to write task <b>mobiles</b>, you put

    %table{:border => '1'}
      %tr
        %td{:width => '100px'}
          %tt <tt>/*<br/>LANG: C++<br/>TASK: mobiles<br/>*/</tt>
    
    %p
      on top of your source code.  
      If you are using <tt>Pascal</tt> to write the same task,
      you'll use
 
    %table{:border => '1'}
      %tr
        %td{:width => '100px'}
          %tt <tt>{<br/>LANG: Pascal<br/>TASK: mobiles<br/>}</tt>
    

