= user_title_bar(@user)

.announcementbox
  %span{:class => 'title'}
    =raw t 'help.how_to_submit'
  .announcement
    %p
      =raw t 'help.must_specify_language'

    %p
      =raw t 'help.list_available_language'

    %table{:border => '1'}
      %tr
        %th{:width => '150px'} C
        %th{:width => '150px'} C++
        %th{:width => '150px'} Pascal
      %tr
        %td=raw "<tt>/*<br/>LANG: C<br/>*/</tt>"
        %td=raw "<tt>/*<br/>LANG: C++<br/>*/</tt>"
        %td=raw "<tt>{<br/>LANG: Pascal<br/>}</tt>"

    %p
      =raw t 'help.accept_only_language_specified'

    %p
      =raw t 'help.specifying_task'

    %p 
      =raw t 'help.example_cpp'

    %table{:border => '1'}
      %tr
        %td{:width => '300px'}
          %tt <tt>/*<br/>LANG: C++<br/>TASK: mobiles<br/>*/</tt>
    
    %p
      =raw t 'help.example_pas'
 
    %table{:border => '1'}
      %tr
        %td{:width => '300px'}
          %tt <tt>{<br/>LANG: Pascal<br/>TASK: mobiles<br/>}</tt>
    
    %p
      = raw(t('help.ask_questions_at_messages',:message_link_name => (t 'menu.messages'),:url => url_for(:controller => 'messages', :action => 'list')))

