%h1= GraderConfiguration['ui.front.title']

.row
  .col-md-6
    - if @announcements.length!=0
      .announcementbox{:style => 'margin-top: 0px'}
        %span{:class => 'title'}
          Announcements
        = render :partial => 'announcement', :collection => @announcements
  .col-md-4{style: "padding-left: 20px;"}
    = render :partial => 'login_box'
