%h1= GraderConfiguration['ui.front.title']

.row.mt-4
  .col-md-6.col-sm-12.mb-3
    - if @announcements.count > 0
      .d-flex.justify-content-between.align-items-center.mb-4.px-2{"data-controller" => "init-ui-component"}
        %h6.fw-bold.text-uppercase.text-secondary.mb-0 Announcements
      .announcements-feed
        = render partial: 'announcement', collection: @announcements
  .col-lg-4.col-md-6.col-sm-12
    = render :partial => 'login_box'
    /= "current ip is #{@remote_ip}"
