%tr
  - if short_message.sender
    %td=h short_message.sender.full_name
  - else
    %td (user deleted)
  %td= "#{short_message.created_at}"
  %td=h truncate(short_message.body)
  %td
    - if short_message.sender
      = link_to "[reply]", :action => 'show', :id => short_message.id
    = link_to "[hide]", :action => 'hide', :id => short_message.id
