= render partial: 'msg_modal_show', locals: {do_popup: true,
                                             header_msg: @header_msg,
                                             body_msg: markdown(@body_msg)}
