
%table.graders
  %tr
    %th host
    %th pid
    %th mode
    %th last updated
    %th type
    %th task
  - grader_list.each do |grader|
    - if grader.active
      - c = 'active'
    - else
      - c = 'inactive'
    %tr{:class => c}        
      = render :partial => 'grader', :locals => {:grader => grader}
      %td= link_to 'clear', {:action => 'clear', :id => grader}

