- content_for :head do
  = stylesheet_link_tag 'graders'

%h3 Current graders

= render :partial => 'grader_list', :locals => {:grader_list => @grader_processes}

%h3 Stalled graders

= render :partial => 'grader_list', :locals => {:grader_list => @stalled_processes}
