- if conf.value_type.downcase == 'boolean'
  .form-check.form-switch
    %a{href: toggle_grader_configuration_path(conf), 'data-turbo': "true", 'data-turbo-method': :patch}
      %input.form-check-input{id: dom_id(conf,"config"), type: :checkbox, checked: conf.value.downcase == 'true'}
- else
  = turbo_frame_tag dom_id(conf,"config"), class: 'w-100 d-flex justify-content-end align-items-center' do
    %span.config-value-text= conf.value.presence || '-'
    = link_to edit_grader_configuration_path(conf), class: 'edit-link', data: {turbo: "true"} do
      %span.mi.md-18 edit
    = link_to audit_logs_path(auditable_type: 'GraderConfiguration', auditable_id: conf.id), class: 'edit-link', title: 'Change history' do
      %span.mi.md-18 history
