:markdown
  This hint **costs #{hint.cost || 0} points** to reveal
  and you haven't revealed it yet. By proceeding, the __full score__
  for this problem will be __reduced by #{hint.cost || 0} points__
  and the hint will then be permanently unlocked for you 
  to view whenever you wish.

  **Do you want to confirm and reveal the hint?**
