<% for column in Problem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> 
  <% if column.name != 'body' %>
    <%=h @problem.send(column.name) %>
  <% else %>
    <pre>
    <%= @problem.body %>
    </pre>
  <% end %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @problem %> |
<%= link_to 'Back', :action => 'list' %>
