p {
    font-size: 12px;
}

div.title {
    font-size: 20px;
    font-weight: bold;
    background: lightgreen;
    padding: 2px;
}

div.userbar { 
    border-top: thin solid grey;
    border-bottom: thin solid grey;
    text-align: right;
    font-size: 12px;
}

div.compilermsgbody {
    font-family: monospace;
}

div.submitbox {
    border: thin solid black;
    padding: 5px;
    color: white;
    background-color: #777777;
    font-weight: bold;
    font-size: 13px;
}

table.uinfo {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 13px;
}

td.uinfo {
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
}

th.uinfo {
    background: lightgreen;
    vertical-align: top;
    text-align: right;
    border: 1px solid black;
    padding: 5px;
}

table.info {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
}

th.info, td.info {
    border: 1px solid black;
}

tr.info-head {
    background: #777777;
    color: white;
}

tr.info-odd {
    background: #dddddd;
}

tr.info-even {
    background: #eeeeee;
}

div.task-menu {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 2px;
    margin-bottom: 4px;
}
