body {
  background: white url(../images/topbg.jpg) repeat-x top center;
  font-size: 13px;
  font-family: Tahoma, "sans-serif";
  margin: 10px;
  padding: 10px; }

input {
  font-family: Tahoma, "sans-serif"; }

h1 {
  font-size: 24px;
  color: #334488;
  line-height: 2em; }

h2 {
  font-size: 18px;
  color: #5566bb;
  line-height: 1.5em; }

hr {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #eeeeee; }

a {
  color: #6666cc;
  text-decoration: none; }
  a:link, a:visited {
    color: #6666cc;
    text-decoration: none; }
  a:hover, a:focus {
    color: #111166;
    text-decoration: none; }

.userbar {
  line-height: 1.5em;
  text-align: right;
  font-size: 12px; }

.title {
  padding: 10px 0px;
  line-height: 1.5em;
  font-size: 13px; }
  .title span.contest-over-msg {
    font-size: 15px;
    color: red; }
  .title table {
    width: 100%;
    font-weight: bold; }
  .title td.left-col {
    text-align: left;
    vertical-align: top;
    color: #444444; }
  .title td.right-col {
    text-align: right;
    vertical-align: top;
    font-size: 18px;
    color: #116699; }

table.info {
  margin: 10px 0;
  border: 1px solid #666666;
  border-collapse: collapse;
  font-size: 12px; }
  table.info th {
    border: 1px solid #666666;
    line-height: 1.5em;
    padding: 0 0.5em; }
  table.info td {
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    line-height: 1.5em;
    padding: 0 0.5em; }

tr.info-head {
  background: #777777;
  color: white; }

tr.info-odd {
  background: #eeeeee; }

tr.info-even {
  background: #f9f9f9; }

.submitbox {
  background: #eeeeff;
  border: 1px dotted #99aaee;
  padding: 5px;
  margin: 10px 0px;
  color: black;
  font-size: 13px; }

.errorExplanation {
  border: 1px dotted gray;
  color: #bb2222;
  padding: 5px 15px 5px 15px;
  margin-bottom: 5px;
  background-color: white;
  font-weight: normal; }
  .errorExplanation h2 {
    color: #cc1111;
    font-weight: bold; }

table.uinfo {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 13px; }

td.uinfo {
  vertical-align: top;
  border: 1px solid black;
  padding: 5px; }

th.uinfo {
  background: lightgreen;
  vertical-align: top;
  text-align: right;
  border: 1px solid black;
  padding: 5px; }

.compilermsgbody {
  font-family: monospace; }

.task-menu {
  text-align: center;
  font-size: 13px;
  line-height: 1.75em;
  font-weight: bold;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  margin-top: 2px;
  margin-bottom: 4px; }

table.taskdesc {
  border: 2px solid #dddddd;
  border-collapse: collapse;
  margin: 10px auto;
  width: 90%;
  font-size: 13px; }
  table.taskdesc p {
    font-size: 13px; }
  table.taskdesc tr.name {
    border: 2px solid #dddddd;
    background: #dddddd;
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center; }
  table.taskdesc td.desc-odd {
    padding: 5px;
    padding-left: 20px;
    background: #fefeee; }
  table.taskdesc td.desc-even {
    padding: 5px;
    padding-left: 20px;
    background: #feeefe; }

.announcementbox {
  margin: 10px 0px;
  background: #bbddee;
  padding: 1px; }
  .announcementbox span.title {
    font-weight: bold;
    color: #224455;
    padding-left: 10px;
    line-height: 1.6em; }
  .announcementbox .announcement {
    margin: 2px;
    background: white;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; }
    .announcementbox .announcement p {
      font-size: 12px;
      margin: 2px; }

.pub-info {
  text-align: right;
  font-style: italic;
  font-size: 9px; }
  .pub-info p {
    text-align: right;
    font-style: italic;
    font-size: 9px; }

.announcement .toggles {
  font-weight: normal;
  float: right;
  font-size: 80%; }
.announcement .announcement-title {
  font-weight: bold; }

.message {
  margin: 10px 0 0; }
  .message .message {
    margin: 0 0 0 30px; }
    .message .message .stat {
      font-size: 10px;
      line-height: 1.75em;
      padding: 0 5px;
      color: #444444;
      background: #bbbbbb;
      font-weight: bold; }
  .message .body {
    border: 2px solid #dddddd;
    background: #fff8f8;
    padding-left: 5px; }
  .message .reply-body {
    border: 2px solid #bbbbbb;
    background: #fffff8;
    padding-left: 5px; }
  .message .stat {
    font-size: 10px;
    line-height: 1.75em;
    padding: 0 5px;
    color: #333333;
    background: #dddddd;
    font-weight: bold; }

.contest-title {
  color: white;
  text-align: center;
  line-height: 2em; }

.registration-desc {
  border: 1px dotted gray;
  background: #f5f5f5;
  padding: 5px;
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.5em; }

.test-desc {
  border: 1px dotted gray;
  background: #f5f5f5;
  padding: 5px;
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.5em; }

.problem-list {
  width: 200px;
  float: left; }

.problem-bar {
  margin-top: 5px;
  padding: 5px;
  background: #e0e0e0; }
  .problem-bar span.problem-title {
    font-weight: bold;
    font-size: 110%; }

.problem-content {
  float: left;
  margin-left: 10px;
  width: 700px; }

.problem-panel {
  border: 1px black solid;
  padding: 5px; }
  .problem-panel .problem-form {
    border: 1px dotted #99aaee;
    background: #eeeeff; }

.notice-bar {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center; }
  .notice-bar span.notice {
    color: white;
    font-weight: bold;
    background: #000070;
    padding: 3px 20px 3px 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

table.codejom-problems th {
  background: #000070;
  color: white; }
table.codejom-problems td {
  width: 200px;
  vertical-align: top;
  text-align: center; }
  table.codejom-problems td.random-button {
    background: lightgrey; }
