
table.graders tr.active {
    border: 1px solid black;
    background: lightgreen;
    text-align: center;
}

table.graders tr.inactive {
    border: 1px solid black;
    background: #ffcccc;
    text-align: center;
}