%h1 New user
.row
  .col-md-6
    .card.shadow-sm
      .card-body
        = simple_form_for @user, url: user_admin_index_path(@user), wrapper: :horizontal_form do |f|
          = render partial: 'form', locals: {f: f}
