= turbo_frame_tag :user_table_frame do
  %table#user_table.table.datatable.table-hover.table-condense.align-middle
    %thead
      %tr
        %th Login
        %th Full name
        %th Role
        %th Remark
        %th.text-center Enabled
        %th.text-end Actions
    %tbody
