%h1 Errors in sending registration confirmation

.errorExplanation
  %h2 
    Your user account has been created, but the system cannot send you the
    confirmation e-mail.

  Maybe there's a problem in the configuration.  Please report the
  admin.  Thank you!
