= user_title_bar(@user)

%h1 Your account settings

-#%p
  -#You can edit your alias and e-mails.  Just click on the text and edit it.

%table.table.table-bordered{:style => "width:30%"}
  %tr
    %th Login
    %td= @user.login
  %tr
    %th Full name
    %td= @user.full_name
  -#%tr
    -#%th.uinfo Alias
    -#%td.uinfo= in_place_editor_field :user, 'alias_for_editing', {}, :rows => 1
  -#%tr
    -#%th.uinfo E-mail
    -#%td.uinfo= in_place_editor_field :user, 'email_for_editing', {}, :rows => 1
  %tr
    %th Password
    %td
      = form_tag :action => 'chg_passwd', :method => 'post' do
        %table
          %tr
            %td
              %input{:type => "password", :class => "form-control", :name => "passwd", :id => "passwd"}
            %td (new)
          %tr
            %td
              %input{:type => "password", :class => "form-control", :name => "passwd_verify", :id => "passwd_verify"}
            %td (verify)
          %tr
            %td{:colspan => "2"}
              %input{:type => "button", :class => "btn btn-default", :name => "commit", :value => "Change Password"}
