%h1
  =t 'registration.successful_title'

=t 'registration.email_sent'
%br/
=t 'registration.email_verify_at', :email => @user.email
%br/
%br/

=t 'go_back_to'
=link_to((t 'login_page'), {:controller => 'main', :action => 'login'})
