# this is example of credentials
# DON'T STORE ANY REAL INFO HERE

secret_key_base: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

llm:
  genie: # chula genie
    host: https://llm-provider.example.com
    token_path: /api/v1/external/auth
    completion_path: /api/v1/external/completions
    api_key: REPLACE_ME
    app_id: REPLACE_ME
    client_id: REPLACE_ME
    client_email: you@example.com
