# this is example of credentials
# DON'T STORE ANY REAL INFO HERE

secret_key_base: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

llm:
  genie: # chula genie
    host: https://genie.chula.ac.th
    token_path: /api/v1/external/auth
    completion_path: /api/v1/external/completions
    api_key: aaaaaaaaaaaaaaaaaaaa=
    app_id: bb-ccccccccccccccc
    client_id: nnattee
    client_email: nattee.n@chula.ac.th
