%h2 Paid in Full
User with highest number of problem solved

%h2 Polymaths
User with highest number of problems each solved by more than 1 languages.

%h2 Icebreakers
If you solve the problem before 95% of your friends, you are an icebreaker.
