/*************
Metro Dark Theme
*************/
/* overall */
.tablesorter-cafe {
	/* font: 12px/18px 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; */
	color: #000;
	background-color: #777;
	margin: 10px 0 15px;
	text-align: left;
  border-collapse: collapse;
  border: #555 1px solid;
}

.tablesorter-cafe tr.dark-row th, .tablesorter-cafe tr.dark-row td {
	background-color: #222;
	color: #fff;
	text-align: left;
	font-size: 14px;
}

/* header/footer */
.tablesorter-cafe caption,
.tablesorter-cafe th,
.tablesorter-cafe thead td,
.tablesorter-cafe tfoot th,
.tablesorter-cafe tfoot td {
        /*
	//font-weight: 300;
	//font-size: 15px;
        */
	color: #fff;
	background-color: #777;
	padding: 2px;
	border: #555 1px solid;
}

.tablesorter-cafe .header,
.tablesorter-cafe .tablesorter-header {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAGFBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u5jNePWAAAACHRSTlMAMxIHKwEgMWD59H4AAABSSURBVAjXY2BgYFJgAAHzYhDJ6igSAKTYBAUTgJSioKAQAwNzoaCguAFDiCAQuDIkgigxBgiA8cJAVCpQt6AgSL+JoKAzA0gjUBsQqBcBCYhFAAE/CV4zeSzxAAAAAElFTkSuQmCC);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: normal;
}
.tablesorter-cafe .tablesorter-header-inner {
	padding: 0 18px 0 4px;
}
.tablesorter-cafe thead .headerSortUp,
.tablesorter-cafe thead .tablesorter-headerSortUp,
.tablesorter-cafe thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAIVBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u5meJAOAAAACnRSTlMAMwsqXt+gIBUGxGoDMAAAAFlJREFUCNctzC0SQAAUReEzGNQ3AlHRiSRZFCVZYgeswRL8hLdK7834wj3tAlGP6y7fYHpKS6w6WwbVG0I1NZVnZPG8/DYxOYlnhUYkA06R1s9ESsxR4NIdPhkPFDFYuEnMAAAAAElFTkSuQmCC);
}
.tablesorter-cafe thead .headerSortDown,
.tablesorter-cafe thead .tablesorter-headerSortDown,
.tablesorter-cafe thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAALVBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7i0NViAAAADnRSTlMAMiweCQITTvDctZZqaTlM310AAABcSURBVAjXY2BgYEtgAAFHERDJqigUAKSYBQUNgFSioKAYAwOLIBA4MASBKFUGQxAlzAAF+94BwWuGKBC1lIFl3rt3Lx0YGCzevWsGSjK9e6cAUlT3HKyW9wADAwDRrBiDy6bKzwAAAABJRU5ErkJggg==);
}
.tablesorter-cafe thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

/* tbody */
.tablesorter-cafe td {
	background-color: #fff;
	padding: 1px 4px;
	vertical-align: top;
	border-style: solid;
	border-color: #666;
  border-collapse: collapse;
  border-width: 0px 1px;

}

/* hovered row colors */
.tablesorter-cafe tbody > tr:hover > td,
.tablesorter-cafe tbody > tr.even:hover > td,
.tablesorter-cafe tbody > tr.odd:hover > td {
	background: #bbb;
	color: #000;
}

/* table processing indicator */
.tablesorter-cafe .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(../addons/pager/icons/loading.gif) !important; */
	background-image: url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=) !important;
}

/* pager */
.tablesorter-cafe .tablesorter-pager button {
	background-color: #444;
	color: #eee;
	border: #555 1px solid;
	cursor: pointer;
}
.tablesorter-cafe .tablesorter-pager button:hover {
	background-color: #555;
}

/* Zebra Widget - row alternating colors */
.tablesorter-cafe tr.odd td {
	background-color: #eee;
}
.tablesorter-cafe tr.even td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
.tablesorter-cafe tr.odd td.primary {
	background-color: #bfbfbf;
}
.tablesorter-cafe td.primary,
.tablesorter-cafe tr.even td.primary {
	background-color: #d9d9d9;
}
.tablesorter-cafe tr.odd td.secondary {
	background-color: #d9d9d9;
}
.tablesorter-cafe td.secondary,
.tablesorter-cafe tr.even td.secondary {
	background-color: #e6e6e6;
}
.tablesorter-cafe tr.odd td.tertiary {
	background-color: #e6e6e6;
}
.tablesorter-cafe td.tertiary,
.tablesorter-cafe tr.even td.tertiary {
	background-color: #f2f2f2;
}

/* filter widget */
.tablesorter-cafe .tablesorter-filter-row td {
	background: #eee;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-cafe .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.tablesorter-cafe .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.tablesorter-cafe .tablesorter-filter-row.hideme .tablesorter-filter {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.tablesorter-cafe .tablesorter-filter {
	width: 95%;
	height: auto;
	margin: 4px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
	display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
