%h1 Editing site
.row
  .col-md-4
    - content_for(:form_buttons) do
      = link_to t(:back), sites_path, class: 'btn btn-outline-secondary mx-2'
    = render partial: 'form', locals: {site: @site}
  .col-md-8


