.submitbox
  %b Menu:
  = link_to '[View user start time]', :action => 'user_stat'
  = link_to '[Clear all start times]', {:action => 'clear_all_stat'}, {:confirm => 'Do you really want to clear all start time statistics?'}
